#使用前先备份该文件，希望系统自动赋值的选项，直接删除掉该选项即可，系统会自动赋值。
[oommonitor]

#时间单位为：秒
breaktime = 1800

#内存溢出检测模式，| 分隔， 如：java.lang.OutOfMemoryError|Java heap space
oompatterns = java.lang.OutOfMemoryError

#检测的服务名
servicename = nis

#检测的错误日志所在的目录
basedir = D:\runtime\tomcat-6.0.29\logs

#待检测的日志文件名格式（请不要随意修改）
std_log = stdout_*.log

#JVM在遇到OutOfMemoryError时拍摄一个“堆转储快照”的文件名格式（请不要随意修改）
hprof = *.hprof

#压缩文件路径和名字前缀，用于java日志备份
backupname = D:\runtime\tomcat-6.0.29\nis-logs

#指定要终止的进程的映像名称，如cmd.exe。通配符 '*'可用来指定所有任务或映像名称
imagename = tomcat6.exe

#当前系统版本，若要使用oomrunurl，则需要配置该属性大于12.7.0.3
nis_version = 12.7.0.5

#内存溢出重启后请求的地址，与nis_version属性一起使用
oomrunurl = http://localhost/nis/oomrun

# 日志配置 ：单个日志文件大小（MB）， 若为0 则只产生一个日志文件，且backup_count失效
max_megabytes = 10

# 日志配置 ：总共生成的日志文件数，若配置为5，则最多会生成6个日志文件
backup_count = 5




