[oommonitor]

#时间单位为：秒
breaktime = 1800

#内存溢出检测模式，| 分隔， 如：java.lang.OutOfMemoryError|Java heap space
oompatterns = java.lang.OutOfMemoryError

#检测的服务名
servicename = nis

#检测的错误日志所在的目录
basedir = D:\runtime\tomcat-6.0.29\logs

#待检测的日志文件名格式（请不要随意修改）
std_log = stdout_*.log

#JVM在遇到OutOfMemoryError时拍摄一个“堆转储快照”的文件名格式（请不要随意修改）
hprof = *.hprof

#压缩文件路径和名字前缀，用于java日志备份
backupname = D:\runtime\tomcat-6.0.29\nis-logs

#指定要终止的进程的映像名称，如cmd.exe。通配符 '*'可用来指定所有任务或映像名称。
imagename = tomcat6.exe

#内存溢出重启后请求的地址
oomrunurl = http://localhost/nis/oomrun




